*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
}

.container{
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    width: 60vh;
    max-width: 100%;
    min-height: 320px;
    min-width: 520px;
    height: 35vh;
}

.star-container {
    width: 8vh;
    height: 8vh;
    min-height: 80px;
    min-width: 80px;
    position: relative;
    margin: 0;
    left: -0.5%;
    opacity: 60%;
}

.container h1{
    position: relative;
    left: 35%;
    font-weight: normal;
    font-size: 24px;
}

.container img{
    padding-left: 27vh;

    width: 100px;
}

form {
    display: grid;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container input{
    background-color: white;
    border: none;
    border: 1px solid black;
    margin: 1.2vh 0;
    padding: 1vh 1vh;
    font-size: 15px;
    color: black;
    width: 21vh;
    min-width: 180px;
}

form button{
    left: 22%;
    width: 10vh;
    min-width: 100px;
    min-height: 30px;
    height: 3vh;
    border-radius: 50%;
    border: 0px;
    background: linear-gradient(0.25turn, rgba(213, 31, 219, 0.6), rgba(102, 20, 142, 0.6), rgba(55, 17, 117, 0.6));
    position: relative;
    color: white;
    font-size: 15px;
    top: 1vh;
}

.logo a{
    font-size: 16px;
    font-family: 'ABeeZee', sans-serif;
    font-weight: lighter;
    text-decoration: none;
    color: black;
    position: relative;
    left: 1%;
    top: 0.4vh;
}

button{
    position: relative;
    left: 20%;
    top: 4vh;
    width: 6vh;
    min-width: 50px;
    background: white;
    border: none;
    font-size: 15px;
}

p{
    position: relative;
    left: 68%;
    font-size: 15px;
    width: 8vh;
    min-width: 100px;

}

.social-icons{
    left: 62%;
    top: 0.5vh;
    position: relative;
}

.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 3vh;
    height: 3vh;
    min-height: 30px;
    min-width: 30px;
    color: black;
    text-decoration: none;
}